@mixin fontMixin( $fs, $fw, $lh ){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

$--c-primary: #5ECE7B;
$--c-text: #1D1F22;
$--c-icon: #43464E;
$--c-white: #FFFFFF;
$--c-black: #000000;
$--c-light: #8D8F9A;

.ProductView{
    display: flex;
    align-items: flex-start;
    // padding-right: 5rem;
    padding-block: 4rem;
    padding-right: 10%;
    width: 82%;
    padding-left: 8%;

    .productView__gallery{
        display: flex;  align-items: center;    flex-direction: column!important;
        width: fit-content;
        button{
            width: 4rem;  height: 3.5rem;   margin-bottom: 2rem;
            background: {
                position: center;
                size: cover;
                repeat: no-repeat;
                image: url('../assets/images/shirt.png');
            };
        }
    }
    .productView__fig{
        width: 100rem; height: 24rem;
        margin-right: 3rem;     margin-left: 1.5rem;
        img{ display: block;  margin: 0;  padding: 0;  width: 100%;  height: 100%; }
    }
    .productView__content{
        &>p{    color: $--c-text;
            &:first-of-type{
                @include fontMixin(24px, 400, 34px);     margin-bottom: 2rem;
            }
            &:last-of-type{
                @include fontMixin(12px, 500, 18px);   
            }
        }
        .productView__content__sizes , .productView__content__price{
            span{
                display: block;   clear: both;
                text-transform: uppercase;
                @include fontMixin(14px, 700, 18px);
            }
        }
        .productView__content__sizes{
            margin-bottom: 1.5rem;
            span{ margin-bottom: 0.2rem; }
            button{
                // background-color: $--c-white;
                // color: $--c-text;
                // border: 1px solid $--c-text;
                text-transform: uppercase;
                margin-right: 0.5rem;
                padding: 0.4rem 1.2rem;
                @include fontMixin(13px, 400, 18px);
                // &:first-of-type{ color: #a6a6a6;  border: 1px solid #a6a6a6; }
                // &:nth-of-type(2){ @extend .activeSize }
            }
        }
        .productView__content__price{
            span{ margin-bottom: 0.8rem; }
            p{ @include fontMixin(20px, bold, 22px);   margin-bottom: 1.2rem; }
        }
        &>button{
            background-color: $--c-primary;
            color: $--c-white;
            padding-block: 0.6rem;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 1.5rem;
            @include fontMixin(13px, 500, 18px);
        }
    }
}